## Apache Iceberg com pySpark

### Iniciando container:
Abra o docker desktop para iniciar a docker engine e use esse comando no terminal (neste diretório) pra iniciar um container do docker com as configurações do arquivo docker-compose.yml:

```docker-compose up```

### Iniciando sessão do Spark
Após a inicialização do container, use esse comando no terminal para iniciar a sessão do pyspark:

```docker exec -it spark-iceberg pyspark```

### Criando uma tabela
Rode o bloco de código a seguir para criar uma tabela com o comando salvo no arquivo comando-criar-tabela.txt. <br>
O arquivo contem um script importando os tipos o do pyspark e criando um esboço para o DataFrame, usada pelo método spark.createDataFrame para criar um DataFrame vazio que em seguida é escrito na tabela "SRAG2024" do banco "OpenDatasus" no catálogo "demo".

In [1]:
with open('comando-criar-tabela.txt', 'r') as arquivo:
    comando_criar_tabela = arquivo.read()
exec(comando_criar_tabela)

### Inserindo dados na tabela
Rode o bloco de código a seguir para inserir dados na tabela com o comando salvo no arquivo comando-inserir.txt. <br>
O arquivo contem um script criando um spark DataFrame usando o schema da tabela com os dados a serem inseridos e usa o método df.writeTo("demo.OpenDatasus.SRAG2024").append() para adicionar os dados do dataframe na tabela.

In [2]:
with open('comando-insert.txt', 'r') as arquivo:
    comando_insert = arquivo.read()
exec(comando_insert)

Caso deseje inserir mais dados na tabela, você pode usar modificar o seguinte bloco de código (o número de dados nas linhas deve ser equivalente ao número de colunas):

In [ ]:
schema = spark.table("demo.OpenDatasus.SRAG2024").schema

data = [
    ("dado", "dado", "dado"), # linha 1
    ("dado", "dado", "dado") # linha n
  ]
df = spark.createDataFrame(data, schema)
df.writeTo("demo.OpenDatasus.SRAG2024").append()

### Visualizando tabela:

In [ ]:
df = spark.table("demo.OpenDatasus.SRAG2024").show()

### Atualizando dados da tabela:

In [ ]:
spark.sql("UPDATE demo.OpenDatasus.SRAG2024 SET ID_MUNICIP = 'Criciuma' WHERE ID_MUNICIP = 'CRICIUMA'")

### Apagando dados da tabela

In [ ]:
spark.sql("DELETE FROM demo.OpenDatasus.SRAG2024 WHERE ID_MUNICIP = 'Criciuma'")

### Alterando uma tabela:

In [ ]:
spark.sql("ALTER TABLE demo.OpenDatasus.SRAG2024 ADD COLUMNS (nova_coluna STRING)")

### Apagando uma tabela:

In [ ]:
spark.sql("DROP TABLE IF EXISTS demo.OpenDatasus.SRAG2024")